#TopBar{
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
 
}
#ImgTopBar{
  height: 80px;
  width: 320px;
}
li {
    float: none;
    
  }
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    
    
   
  }
  li a:hover {
    background-color: #111111;
  }

  ul li.MargLeft{
    float: left;
  }
  ul li.MargRight{
    float: right;
  }
  ul li.MargCenter{
    float:left
  }
